.logo{
    display: flex;
    justify-content: flex-start;
    background-color: aqua;
}


.carrusel{
    display: flex;
    justify-content: center;
    background-color: aqua;
    

}

.espacio{
    background-color: aqua;    
    }

.menuchiquito{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;

}    
.titulo{
    display: flex;
    justify-content: center;
    background-color: aqua;

}


.pagdeporte{
    display: flex;
    justify-content: center;
    background-color: aqua;

}
.deportecopa{
    display: flex;
    justify-content: center;
    background-color: aqua;
    
    
}